@font-face {
  font-family: "svbold";
  src: local("svbold"), url("./fonts/svbold.otf") format("opentype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

body {
  background: #c6ffdd;
  background: -webkit-linear-gradient(to top, #f7797d, #e2fb86, #c6ffdd);
  background: linear-gradient(to top, #f7797d, #fbd786, #c6ffdd);
  background-attachment: fixed;
}

/*******************************************/
/* APP */
/*******************************************/

.app {
  width: 950px;
  margin: 0 auto;
}

/*******************************************/
/* HEADING / HERO SECTION */
/*******************************************/

.heading-content {
  text-align: center;
}

.main-heading {
  font-family: "svbold";
  font-size: 3rem;
  letter-spacing: 1.3px;
  color: #222222;
  margin-top: 2rem;
  margin-bottom: 2.2rem;
}

.main-guide-summary {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
}

/*******************************************/
/* UNIVERSAL SECTION */
/*******************************************/

.universal-section {
  /* background-color: #ffe8cc; */
  background-color: #fdf4f0;
  border-radius: 7px;
  padding: 2.4rem;
  padding-top: 1rem;
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 8px, rgba(0, 0, 0, 0.23) 0px 4px 6px;
}

.uni-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 9rem;
  font-size: 1.8rem;
}

.uni-subheadline {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.spanEffect1 {
  position: relative;
  z-index: 1;
  margin: 0 0.6rem;
}

.spanEffect1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  background-color: #f7797d;
  transform: skew(-15deg);
  z-index: -1;
}

.spanEffect2 {
  position: relative;
  z-index: 1;
  margin: 0 0.6rem;
}

.spanEffect2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  background-color: #fac885;
  transform: skew(-15deg);
  z-index: -1;
}

.uniLoves {
  grid-row: 2 / -2;
  align-self: self-start;
}

.uniLovesList {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 3rem;
  line-height: 1.4;
  /* list-style-type: none; */
}

.uniLikes {
  grid-row: -2 / -1;
}

.uniLikesList {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 3rem;
  line-height: 1.4;
  /* list-style-type: none; */
}

/*******************************************/
/* MAIN CONTENT GRID SIDEBAR-SUMMARY-PAGINATION */
/*******************************************/

.main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 3rem;
}

/*******************************************/
/* SIDEBAR CHARACTER LIST */
/*******************************************/

.sidebar {
  /* width: 350px; */
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 1rem;
  list-style: none;
  margin-bottom: 1.2rem;
  padding: 0;
}

.sidebar li {
  background-color: #ffe8cc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 7px;
  transition: 0.3s;
  padding-top: 0.8rem;
  padding-left: 3rem;
  cursor: pointer;
}

.char-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
}

.sidebar li h3 {
  font-size: 1.8rem;
  text-align: center;
}

.sidebar li p {
  text-align: center;
}

.sidebar .birthday {
  margin-top: 1rem;
}

img {
  width: 128px;
}

.selected {
  -webkit-box-shadow: inset 0px 0px 0px 10px #222222;
  -moz-box-shadow: inset 0px 0px 0px 10px #222222;
  box-shadow: inset 0px 0px 0px 10px #222222;
}

/*******************************************/
/* PAGINATION UNDERNEATH SIDEBAR */
/*******************************************/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 7.2rem;
  font-size: 1.4rem;
}

.pagination Button {
  background-color: #313131;
  width: 106px;
  height: 36px;
}

.btn-placeholder {
  width: 106px;
  height: 36px;
}

/*******************************************/
/* REUSABLE BUTTON */
/*******************************************/

.button {
  background-color: #313131;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.button:hover {
  background-color: #222222;
}

.button span {
  text-align: center;
}

/*******************************************/
/* GIFT SUMMARY WHERE ARRAYS ARE DISPLAYED */
/*******************************************/

.gifts-summary {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  /* margin-right: 2.2rem; */
}

.summary-title {
  text-align: center;
  margin-bottom: 1rem;
}

.gift-list {
  background-color: #ffe8cc;
  padding: 1rem 2rem;
  border-radius: 7px;
  font-size: 1.8rem;
  flex: 0;
  min-height: 190px;
  max-height: 200px;
  overflow-y: auto;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 8px, rgba(0, 0, 0, 0.23) 0px 4px 6px;
}

.gift-list ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 4rem;
  line-height: 1.4;
  /* list-style-type: none; */
}

/*******************************************/
/* FOOTER */
/*******************************************/

footer {
  font-size: 1.6rem;
  grid-column: span 2;
  text-align: center;
}
