@font-face {
  font-family: "svbold";
  src: local("svbold"), url("./fonts/svbold.otf") format("opentype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

body {
  background: #43c6ac;
  background: -webkit-linear-gradient(
    to top,
    #f8ffae,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f8ffae, #43c6ac);
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔰 */

.button {
  background-color: #b4c643;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #85922f;
}

/* 🔰 */

.main-heading {
  font-family: "svbold";
  font-size: 3rem;
  letter-spacing: 1.3px;
  color: #181818;
  text-align: center;
  margin: 2rem 0 3.8rem 0;
}

.app {
  width: 1010px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 1.8rem;
}

/* SIDEBAR LIST OF CHARACTERS */
.sidebar {
  width: 350px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 1.4rem;
  gap: 1.5rem;
  list-style: none;
  margin-bottom: 1.2rem;
}

.sidebar li {
  background-color: #ffe8cc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 7px;
  transition: 0.5s;
  padding-top: 0.4rem;
  cursor: pointer;
}

.char-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar li h3 {
  font-size: 1.8rem;
  text-align: center;
}

.sidebar li p {
  text-align: center;
}

img {
  width: 128px;
}

.selected {
  -webkit-box-shadow: inset 0px 0px 0px 10px #b4c643;
  -moz-box-shadow: inset 0px 0px 0px 10px #b4c643;
  box-shadow: inset 0px 0px 0px 10px #b4c643;
}

/* PAGINATION UNDERNEATH CHARACTER LIST */
.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.pagination Button {
  background-color: #b4c643;
  width: 106px;
  height: 36px;
}

.btn-placeholder {
  width: 106px;
  height: 36px;
}

/* GIFT SUMMARY WHERE ARRAYS ARE DISPLAYED */
.gifts-summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.summary-title {
  text-align: center;
  margin-bottom: 1rem;
}

.gift-list {
  background-color: #ffe8cc;
  padding: 1rem 3rem;
  border-radius: 7px;
  font-size: 1.8rem;
  flex: 0;
  min-height: 170px;
  max-height: 180px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.gift-list ul {
  /* text-align: center; */
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 4rem;
}
