@font-face {
  font-family: "svbold";
  src: local("svbold"), url("./fonts/svbold.otf") format("opentype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  width: 800px;
  margin: 0 auto;
}

.main-heading {
  font-family: "svbold";
  font-size: 4rem;
  letter-spacing: 1.3px;
  color: #181818;
  text-align: center;
  margin-bottom: 3rem;
}

img {
  width: 128px;
  height: 128px;
}

.card {
  display: flex;
  width: 25rem;
  font-family: "Playwrite DE Grund";
}
